engine-strict=false
registry=https://registry.npmjs.org/
legacy-peer-deps=true
fund=false
audit-level=moderate
force=true
prefer-offline=false
timeout=300000
fetch-retries=5
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
