-- Comando SQL para agregar las nuevas columnas a la tabla routes
ALTER TABLE routes ADD COLUMN IF NOT EXISTS location TEXT;
ALTER TABLE routes ADD COLUMN IF NOT EXISTS coordinates POINT;

-- Si la columna city ya se había añadido, migramos los datos a location y eliminamos city
DO $$
BEGIN
  IF EXISTS (SELECT FROM information_schema.columns WHERE table_name = 'routes' AND column_name = 'city') THEN
    -- Migrar datos de city a location si ambos existen
    UPDATE routes SET location = city WHERE location IS NULL AND city IS NOT NULL;
    
    -- Eliminar la columna city
    ALTER TABLE routes DROP COLUMN IF EXISTS city;
  END IF;
  
  -- Si la columna coordinates ya existe como JSONB, convertirla a POINT
  IF EXISTS (
    SELECT FROM information_schema.columns 
    WHERE table_name = 'routes' 
    AND column_name = 'coordinates' 
    AND data_type = 'jsonb'
  ) THEN
    -- Crear columna temporal para la conversión
    ALTER TABLE routes ADD COLUMN coordinates_point POINT;
    
    -- Convertir datos JSONB a POINT
    UPDATE routes 
    SET coordinates_point = POINT(
      (coordinates->>'lng')::float, 
      (coordinates->>'lat')::float
    )
    WHERE coordinates IS NOT NULL;
    
    -- Eliminar columna JSONB original
    ALTER TABLE routes DROP COLUMN coordinates;
    
    -- Renombrar columna temporal a coordinates
    ALTER TABLE routes RENAME COLUMN coordinates_point TO coordinates;
  END IF;
END$$;
